.header{
    text-align: center;
    color: rgb(199, 204, 191);
    background-color: #945bdf;
    height: 64px;
    line-height: 64px;
    /* display: flex; dùng khi thứ cần căn là các thẻ div
    justify-content: center;
    align-items: center; */
    font-size: 24px;
}
.conversation-title{
    text-align: center;
    height: 64px;
    line-height: 64px;
    border-bottom: 2px solid  #bdbdbd;
    font-size: 24px;
    width: 100vw;
    /* position: relative; */
}
.chat-container .conversation-detail{
    display: flex;
    flex-direction: column;

}
.chat-container .list-message{
    flex-grow: 1;
}
#send-message-form input{
    border : none;
    width: 100%;
    outline: 0;
}
#send-message-form{
    padding: 22px 15px;
    position: relative;
    border: 2px solid #dbdbdb
}
#send-message-form button{
    position: absolute;
    bottom: 15px;
    right: 10px;
    
}
/* .conversation-detail #send-message-form{
    position: absolute;
    bottom : 0;
    width: 100%;

} */
.chat-container{
    height: 100vh;
}
.chat-container .main{
    height: calc(100vh - 64px);
    display: flex;
}
.chat-container .conversation-detail{
    height: 100%;
    width: 85%;
}
.list-message .message .message-content{
    background-color: #dbdbdb;
    padding:10px;
    border-radius: 8px;
    max-width: 45%;
    width: max-content;
}
.list-message .message.message-mine{
    display: flex;
    justify-content: flex-end;
    margin : 5px 0;
}
.list-message{
    padding : 10px;
    overflow: auto;
}
.list-message .message.message-mine .message-content{
    background-color: #dd79e0;
    color: #ffff;
}
.list-message .message .name{
    font-size: 13px;
}
.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
    
}
.chat-container .aside-left .creat-conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-bottom: 2px solid #dbdbdb;
    
}
.chat-container .aside-left .conversation{
    padding: 10px;
    border-bottom: 1px solid #dbdbdb ;
    cursor: pointer;
}
.chat-container .aside-left .current{
    background-color: #dbdbdb;
}
.chat-container .aside-left .left-conversation {
    font-weight: 900;
}


/* styte trang tao cuoc tro chuyen */
.create-conversation-container .header{
    color: #fff;
    background: #037BFE;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .btn-cancer{
    background-color: white !important;
    color: black !important;
  }
  .create-conversation-detail{
   margin-top: 50px;
  }
  .main-create-conversation{
    display: flex;
    justify-content: center;
  }
  .create-conversation-detail input{
    width: 800px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid gray;
  }
  .create-conversation-title{
    margin-bottom: 15px;
  }

